<div class="profile-card">
  <div class="profile-image">
    {% if include.image %}
      <img src="{{ include.image | relative_url }}" alt="Profile image" />
    {% endif %}
  </div>
  <div class="profile-text">
    {% if include.name %}
      <p class="profile-name"><strong>{{ include.name }}</strong></p>
    {% endif %}
    {% if include.bio %}
      <p>{{ include.bio }} {% if include.show_link and include.link %} {% include button.html link=include.link text="Full Bio" icon="fa-solid fa-arrow-right" flip=true style="bare" %} {% endif %}</p>
    {% endif %}
  </div>
</div>