<div class="profile-card">
  <div class="profile-image">
    {% if include.image %}
      <img src="{{ include.image | relative_url }}" alt="Profile image" />  
    {% endif %}
  </div>
  <div class="profile-text">
    {% if include.name %}
      <p><strong>{{ include.name }}</strong></p>
    {% endif %}
    {% if include.bio %}
      <p>
        {{ include.bio }}
        {% if include.show_link and include.link %}
          <a class="profile-link-inline" }}Full Bio →</a>
        {% endif %}
      </p>
    {% endif %}
  </div>
</div>

