<!DOCTYPE html>
<html lang="en" data-dark="false">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {% include content.html content=content %}
    </main>
    {% include footer.html %}
  </body>
</html>

<div style="text-align: center; font-size: 0.9em; color: gray; margin-top: 1em;">
  <strong>Disclaimer:</strong> “The views and opinions expressed herein are those of the author(s) and do not represent the views and opinions of the National University of Singapore or any of its subsidiaries or affiliates”​ 
</div>
